{% include "header.html" %}
        <h1>Cart</h1>

            {% if session["cart"] is defined %}
            <form action="/updatecart" method="POST">
                <table>
                    <tr><th>Name</th><th>Quantity</th><th>Subtotal</th><th>Option</th></tr>
                    {% for item in session["cart"].values() %}
                        <tr>
                            <td>{{ item["name"] }}</td>
                            <td colspan="1"><input type="hidden" name = "prices" value='{{ item["price"] }}'><input type="number" name="qty" min ="1" step="1" value='{{ item["qty"] }}'></td>
                            <td>{{ item["subtotal"] }}</td>
                            <td><a href="/removefcart?name={{item['name']}}">Remove from Cart</a></td>
                        </tr>
                    {% endfor %}
                    <tr><td colspan=2><b>Total</b></td><td><b>{{ session["cart"].values()|sum(attribute="subtotal") }}</b></td></tr>
                </table>
                <a href="checkout">Checkout</a><input type="submit" value="Update">
            </form>
            {% else %}
            <div>Your cart is empty</div>
            {% endif %}

{% include "footer.html" %}
