{% include "header.html" %}
<h1>Change Password</h1>
{% include "messages.html" %}
<form action="/checkpass" method="POST">
   <div>
     Enter old password:
   </div>
   <input type="password" name="oldpass"></input>
   <div>
     Enter new password:
   </div>
   <input type="password" name="newpass"></input>
   <div>
    Confirm new password:
   </div>
   <input type="password" name="cpass"></input>
   <div>
   <input type="submit" value="Change Password"/>
   </div>
</form>
{% include "footer.html" %}